<section class="auth-page">

  <article class="form-panel">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>
        Username
        <input formControlName="username" placeholder="Enter username" type="text" />
      </label>

      <label>
        Password
        <input formControlName="password" placeholder="Minimum 8 characters" type="password" />
      </label>

      <button type="submit" [disabled]="loginForm.invalid || submitting">Login</button>
      <p *ngIf="error" class="error-msg">{{ error }}</p>
      <a class="register-link" routerLink="/register">Need an account? Register here</a>
    </form>
  </article>
</section>
